language: node_js
node_js:
- "8.0"
script:
- npm run-script build
cache:
directories:
- "node_modules"
install:
- npm install
- npm install -g firebase-tools
after_success:
- firebase deploy --token $FIREBASE_TOKEN