html{
  height: 100%;
  height: calc(120% - 20%);
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root {
  height: 100%;
  display: flex;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

.flex {
  display: flex;
}

.vertical {
  flex-direction: column;
}

.grow {
  flex-grow: 1;
}

.end {
  align-items: flex-end
}
